<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
<body>
    {%- include header.html -%}
    <main class="page-content"
          aria-label="Content">
	<nav class="wrapper">
	  <ul>
            <li><img src="{{ site.baseurl }}/assets/img/zeroone.png"/></li>
	    <li><a href="/">Home</a></li>
            <li><a href="/categories/">Categories</a></li>
	  </ul>
        <hr>
	</nav>
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {%- include footer.html -%}
</body>
</html>
